ABOUT-NLS
aclocal.m4
autom4te.cache
/build-aux/*
ChangeLog
config.h
config.h.in
config.log
config.status
configure
libtool
m4/*.m4
mkinstalldirs
stamp-h1
Makefile
Makefile.in
test-report.xml
test-suite.log
.version
.deps
.dirstamp
.libs
*.o
*.lo
*.la
*.gcda
*.gcno
coverage.xml
coverage.info
coveragereport
po/*.gmo
po/*.header
po/*.sed
po/*.sin
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-po
docklets/*/*.c
docklets/*/*.stamp
docs/*.stamp
docs/c-doc
docs/vala-doc
docs/web-doc
examples/remote-client
examples/unity-client
examples/*.c
examples/*.stamp
lib/abi*
lib/*-abi
lib/*.c
lib/*.h
lib/*.deps
lib/*.vapi
lib/*.pc
lib/*.stamp
lib/DBus/*.c
lib/Docklets/*.c
lib/Drawing/*.c
lib/Factories/*.c
lib/Services/*.c
lib/Items/*.c
lib/Widgets/*.c
lib/Version.vala
src/plank
src/*.c
src/*.stamp
tests/*.c
tests/*.stamp
tests/home
tests/dock
tests/gmock-tests
tests/tests
data/plank.appdata.xml
data/gschemas.compiled
data/net.launchpad.plank.gschema.valid
data/net.launchpad.plank.gschema.xml
data/net.launchpad.plank.gschema.xml.in
data/plank.desktop
